.footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(237, 235, 229);
    display: flex;
    justify-content: center;
    align-items: center;

    .con1 {
        text-align: center;
    }

    .fa-crown {
        color: rgb(153, 98, 15);

    }

    span {
        font-weight: 700;
        font-size: 12px;
        font-style: normal;
        color: rgb(0, 0, 0);
        line-height: 22.5px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "DM Sans";
        letter-spacing: 4.8px;
        padding: 10px 0;
    }

    h3 {
        font-weight: 700;
        font-size: 47px;

        text-align: center;
        font-style: normal;
        color: rgb(0, 0, 0);
        line-height: 60px;
        text-decoration: none;
        transform: none;
        font-family: "DM Sans";
        letter-spacing: -1.2px;
    }

    .xerite {
        width: 100%;
        height: 300px;
    }

    hr {
        color: rgb(153, 98, 15);
        height: 3px;
        background-color: rgb(153, 98, 15);

    }

    .hr {
        padding: 15px 0;
    }
}