.activity {
    width: 100%;
    height: 140vh;
    background-color: rgb(237, 235, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    div {
        margin: 0;
        padding: 0;
    }

    .fa-crown {
        text-align: center;
        color: rgb(153, 98, 15);

    }

    span {
        font-weight: 700;
        font-size: 12px;
        font-style: normal;
        color: rgb(0, 0, 0);
        line-height: 22.5px;
        text-decoration: none;
        transform: uppercase;
        font-family: "DM Sans";
        letter-spacing: 4.8px;
        margin: 10px 0;
        text-align: center;
    }

    h3 {
        font-weight: 700;
        font-size: 47px;
        text-align: center;
        font-style: normal;
        color: rgb(0, 0, 0);
        line-height: 60px;
        text-decoration: none;
        transform: none;
        font-family: "DM Sans";
        letter-spacing: -1.2px;
        color: rgb(153, 98, 15);
    }

    .row1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .col1 {
        position: relative;
        margin: 25px;

        &:hover {
            .overl {
                opacity: 1;
            }
        }

        img {
            display: block;
            width: 300px;
            height: 300px;
            border-radius: 15px;
        }

        .overl {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: rgba(153, 98, 15, 0.801);
            border-radius: 15px;

        }

        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            text-transform: uppercase;

        }

        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 23px;
        }

    }
}

@media screen and (max-width: 1000px) and (min-width: 300px) {
    .activity {
        height: 220vh;
    }
}